li {
    list-style-type: none;
    margin-left: 0 !important;
    text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

body {
  min-width: 17rem;
}

html {
  min-width: 17rem;
}