.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--core-space-spacing-07);
  border-bottom: 1px solid var(--semantic-color-border);
  background: var(--semantic-color-background-secondary);
}

.title {
  font-size: var(--semantic-typography-font-size-heading-h1);
  font-weight: var(--core-typography-font-weight-extra-bold);
  color: var(--core-color-neutrals-n900);
}

.collapsed {
  display: none;
}