@use '@/styles/breakpoints' as breakpoints;

.gridItem {
  list-style: none;
  width: 100%;
  
  aspect-ratio: 5 / 4;
  
  @include breakpoints.tablet-only {
    aspect-ratio: 6 / 4;
  }
  
  &:first-child {
    @include breakpoints.tablet-only {
      aspect-ratio: 10 / 4;
    }
    
    @include breakpoints.desktop-up {
      aspect-ratio: 1 / 1;
    }
  }
  
  &:not(:first-child) {
    @include breakpoints.desktop-up {
      aspect-ratio: 2 / 1;
    }
  }
}